<section data-ng-controller="GruposController" data-ng-init="find()">
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th class="text-center col-sm-2" >Nombre</th>
            <th class="text-center col-sm-2">
                <a href="/#!/grupos/create">
                    <i class="glyphicon glyphicon-plus-sign"></i> Crear Grupo
                </a>
            </th>
        </tr>
        <tr>
            <th class="text-center col-sm-2" >
                <input class="form-control" type="text" placeholder="Buscar por Nombre" ng-model= "filtro.nombre">
            </th>
            <th class="text-center col-sm-2">
                <button tooltip="Limpiar Busqueda" class="btn btn-primary btn-sm" ng-click="limpiaBusqueda();">
                    <span>
                        <i class="glyphicon glyphicon-remove-circle"></i>
                    </span>
                    Limpiar Busqueda
                </button>
            </th>
        </tr>
        <tr ng-repeat="grupo in grupos | filter:filtro | limitTo:9">
            <td class="col-sm-2">{{::grupo.nombre}}</td>
            <td class="text-center col-sm-1">
                <a tooltip="Editar Grupo" class="btn" ng-click="ir('grupos/' + grupo._id + '/edit')">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a tooltip="Eliminar Grupo" class="btn" data-ng-click="remove(grupo);">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    </table>
</section>
