<section data-ng-controller="CatmenusController">
<div class="page-header">
        <h1>Menu</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" novalidate>
            <fieldset>
                <div class="form-group">
                     <label class="control-label" for="programa">Usuario</label>
                    <input type="text" ng-model="programa.nombre" placeholder="Escriba el nombre del programa" typeahead="nombre as prog.nombre for prog in buscaProgramas($viewValue) | limitTo:5" typeahead-loading="loadingProgramas" class="form-control" typeahead-on-select='seleccionarPrograma($item)' typeahead-template-url="modules/catmenus/views/seleccionPrograma.html" id='programa' focus-on="listo" autofocus>
                    <i ng-show="loadingProcedimientos" class="glyphicon glyphicon-refresh"></i>
                </div>
                <div class="form-group">
                    <label class="control-label" for="programa">Menu</label>
                    <input type="text" ng-model="programa.nombre" placeholder="Escriba el nombre del programa" typeahead="nombre as prog.nombre for prog in buscaProgramas($viewValue) | limitTo:5" typeahead-loading="loadingProgramas" class="form-control" typeahead-on-select='seleccionarPrograma($item)' typeahead-template-url="modules/catmenus/views/seleccionPrograma.html" id='programa' focus-on="{{focusPrograma}}">
                    <i ng-show="loadingProcedimientos" class="glyphicon glyphicon-refresh"></i>
                </div>

                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary">
                    <span class="btn btn-default" ng-click="regresar();">Cancelar</span>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
