<section data-ng-controller="CatmenusController" data-ng-init="find()">
    <div class="page-header">
        <h3>Administración de Menus</h3>
    </div>
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th class="text-center col-sm-2" >Nombre</th>
            <th class="text-center col-sm-2">
                <a href="/#!/catmenus/create" tooltip="Crear Menu" class="btn">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </a>
                <a href="/#!/catmenus/asignar" tooltip="Asignar menu a usuario" class="btn">
                    <i class="glyphicon glyphicon-user"></i>
                </a>
            </th>
        </tr>
        <tr>
            <th class="text-center col-sm-2" >
                <input class="form-control" type="text" placeholder="Buscar por Nombre" ng-model= "filtro.nombre" focus-on="listo">
            </th>
            <th class="text-center col-sm-2">
                <button tooltip="Limpiar Busqueda" class="btn btn-primary btn-sm" ng-click="limpiaBusqueda();">
                    <span>
                        <i class="glyphicon glyphicon-remove-circle"></i>
                    </span>
                    Limpiar Busqueda
                </button>
            </th>
        </tr>
        <tr ng-repeat="catmenu in catmenus | filter:filtro">
            <td class="col-sm-2">{{::catmenu.nombre}}</td>
            <td class="text-center col-sm-1">
                <a tooltip="Editar Menu" tooltip-animation=false class="btn" ng-click="ir('catmenus/' + catmenu._id + '/edit')">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a tooltip="Eliminar Menu" tooltip-animation=false class="btn" data-ng-click="remove(catmenu);">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
                <!--a tooltip="Asignar menu a usuario" class="btn" data-ng-click="asignarMenu(catmenu);">
                    <i class="glyphicon glyphicon-user"></i>
                </a--!>
            </td>
        </tr>
    </table>
</section>
