<section data-ng-init="find()">
    <div class="busqueda right-inner-addon">
        <input class="form-control" type="text" focus-on="listo" id="filtro" placeholder="Filtrar programa" ng-model= "filtro.nombre" autofocus ui-keyup="{27:'limpiarOCerrarDrawer($event)', 13 : 'enterAlPrograma($event)'}"/>
        <i class="glyphicon glyphicon-remove-circle" ng-click="limpiaBusqueda()" ng-show="filtro.nombre"></i>
        <i class="glyphicon glyphicon glyphicon-search" ng-hide="filtro.nombre"></i>
    </div>
    <div data-ng-repeat="programa in programasFiltrado = (programas | textoNoExacto:filtro)" class="icono" ng-click="irAUrl(programa.url, programa._id)" >
        <div ng-icono="{url:programa.icono, nombre: programa.nombre, id:programa._id}"></div>
		<span> {{programa.nombre}}</span>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!programas.$resolved || programas.length">
    	No Programas yet, why don't you <a href="/#!/programas/create">create one</a>?
    </div>
    </div>
</section>
